{% extends 'base.html' %}

{% block title %}Main page{% endblock %}

{% block content %}
    <h1>Choose an option</h1>

    <br>
    
    <a href="/to-eng/set" class="text-success text-decoration-none">
        <div class="card">
            <div class="card-body">
                Words to English
            </div>
        </div>
    </a>

    <br>

    <a href="/from-eng/set" class="text-success text-decoration-none">
        <div class="card">
            <div class="card-body">
                Words from English
            </div>
        </div>
    </a>

    <br>

    <a href="/add-words" class="text-success text-decoration-none">
        <div class="card">
            <div class="card-body">
                Add new words
            </div>
        </div>
    </a>

    <br><br><br>

    <a href="/words" class="text-success text-decoration-none">
        <div class="card">
            <div class="card-body">
                Words
            </div>
        </div>
    </a>
{% endblock %}