{% extends 'base.html' %}

{% block title %}Add article{% endblock %}

{% block content %}
    <h3>Add article</h3>
    <form method='POST'>
        <input type='text' name='title' class='form-control' placeholder='Title' required>
        <br>
        <input type='text' name='tech' class='form-control' placeholder='Technologies' required>
        <br>
        <input type='text' name='img_1' class='form-control' placeholder='Image URL' required>
        <br>
        <input type='text' name='img_2' class='form-control' placeholder='Image URL'>
        <br>
        <input type='text' name='img_3' class='form-control' placeholder='Image URL'>
        <br>
        <textarea name='text' cols="30" rows="10" class='form-control' placeholder='Text' required></textarea>
        <br>
        <input type='text' name='link' class='form-control' placeholder='Link' required>
        <br>
        <input type='password' name='password' class='form-control' placeholder='Password' required>
        <br>
        <input type='submit' class='btn btn-success' value='Create'>
        <br><br>
    </form>
{% endblock %}