{% extends 'base.html' %}

{% block title %}Delete{% endblock %}

{% block content %}
    {% if not success %}
        <p>{{ eng }} - {{ rus }}</p>

        <form method="POST">
            <input type="password" name="password" placeholder="Password" autocomplete="off">
            <br><br>
            <input type="submit" value="Delete" class="btn btn-danger">
        </form>
    {% endif %}

    {% if error %}
        <p class="text-danger">Error</p>
    {% endif %}
    {% if success %}
        <p class="text-success">Deleting was successful</p>
    {% endif %}
{% endblock %}