{% extends 'base.html' %}

{% block title %}Set to Eng{% endblock %}

{% block content %}
    <h1>Choose an option</h1>

    <a href="/from-eng">
        <div class="card">
            <div class="card-body">
                All words
            </div>
        </div>
    </a>

    <br>

    <a href="/from-eng/100">
        <div class="card">
            <div class="card-body">
                Last 100 words
            </div>
        </div>
    </a>

    <br>

    <a href="/from-eng/30">
        <div class="card">
            <div class="card-body">
                Last 30 words
            </div>
        </div>
    </a>
{% endblock %}