{% extends 'base.html' %}

{% block title %}Words to Eng{% endblock %}

{% block content %}
    
    <form method="POST">
        <p>{{ eng }}</p>
        <input type="text" name="answer" autofocus="autofocus">
        <input type="hidden" name="eng" value="{{ eng }}">
        <input type="hidden" name="rus" value="{{ rus }}">
        <input type="submit" value="Check" class="btn btn-success">
    </form>

    {% if exist %}
        <div>
            {% if post %}
                <p class="text-success">{{ right[0] }} - {{ right[1] }}</p>
            {% else %}
                <p class="text-success">{{ right[0] }} - {{ right[1] }}</p>
                <p class="text-danger">{{ wrong[0] }} - {{ wrong[1] }}</p>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block points %}
    <p>{{ points }} / {{ goal }}</p>
{% endblock %}