{% extends 'base.html' %}

{% block title %}Admin menu{% endblock %}

{% block content %}
    {% if admin %}
        <h3>Admin menu</h3>
        <br>
        <div class='col text-center'>
            <a href="/create-product" class='btn btn-success'>Create product</a>
        </div>
        <br>
        <div class='col text-center'>
            <a href="/all-orders" class='btn btn-info'>All orders</a>
        </div>
        <br>
        <div class='col text-center'>
            <a href="/admin/products" class='btn btn-warning'>Edit products</a>
        </div>
    {% else %}
        <p>Input admin password</p>
        <div class='container'>
        <form method='POST'>
            <input type="password" name='password' class='form-control' placeholder="Admin password" required>
            <br>
            <input type="submit" class='btn btn-success' value="Open">
        </form>
        </div>
    {% endif %}
{% endblock %}