{% extends 'base.html' %}

{% block title %}Admin products{% endblock %}

{% block content %}
    <h3>Admin products</h3>
    {% if admin %}
        <div class="container">
            <div class="row">
                {% for product in products %}
                <div class="col-sm-3 mt-3">
                    <div class="card" style="width: 16rem;">
                        <img src="{{ product.image }}" height='250' class="card-img-top" alt="Image">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text text-secondary">{{ product.tag }}</p>
                            <p class="card-text">{{ product.cost }}$</p>
                            <a href="#" class="btn btn-warning">Edit</a>
                            <a href="/product/{{ product.id }}/delete" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% else %}

    {% endif %}
{% endblock %}