{% extends 'base.html' %}

{% block title %}Delete product{% endblock %}

{% block content %}
    <h3 class='text-center'>Delete product</h3>
    {% if admin %}
        <p class='text-center'>Success. This product deleted</p>
        <div class='col text-center'>
            <a href="/admin/products" class='btn btn-warning'>Admin products</a>
        </div>
    {% else %}
        <p>Input admin password</p>
        <div class='container'>
        <form method='POST'>
            <input type="password" name='password' class='form-control' placeholder="Admin password" required>
            <br>
            <input type="submit" class='btn btn-success' value="Delete product">
        </form>
        </div>
    {% endif %}
{% endblock %}