{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% block content %}
    <h3>Products</h3>
    <div class="buttons">
        <a href="/products/Tech" class='btn btn-info'>Tech</a>
        <a href="/products/Food" class='btn btn-success'>Food</a>
        <a href="/products/Books" class='btn btn-warning'>Books</a>
    </div>
    <br>
    <div class="container">
        <div class="row">
            {% for product in products %}
            <div class="col-sm-3 mt-3">
                <div class="card" style="width: 16rem;">
                    <img src="{{ product.image }}" height='250' class="card-img-top" alt="Image">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text text-secondary">{{ product.tag }}</p>
                        <p class="card-text">{{ product.cost }}$</p>
                        <a href="/product/{{ product.id }}" class="btn btn-primary">Open</a>
                        <a href="/add-in-basket/{{ product.id }}" class="btn btn-success">Buy</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>
{% endblock %}