{% extends 'main/base.html' %}

{% block title %}Main page{% endblock %}

{% block content %}
    <h3>Main page</h3>
    <div class="container">
        <p>Hello, world!</p>
        <ul>
            {% if tasks %}
                {% for task in tasks %}
                    <li><div class="bg-light">
                        <h5>{{ task.title }}</h5>
                        <p>{{ task.task }}</p>
                        <p>{{ task.mark }}</p>
                    </div></li>
                {% endfor %}
            {% else %}
                <p>Empty</p>
            {% endif %}
        </ul>
    </div>
{% endblock %}