{% extends 'base.html' %}

{% block title %}Main page{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h3>Welcome to the home page</h3>
        <p>Now you have access to the site and can do whatever the functionality allows.</p>
    {% else %}
        <div class="container mt-5">
            <div class="row">
                <div class="col text-center">
                    <p>Login to the site to access all its functionality</p>
                    <p>Login</p>
                    <a href="{% url 'login' %}" class="btn btn-primary">Sign In</a>
                </div>
                <div class="col text-center">
                    <p>Register on the site to be able to enter</p>
                    <p>Registration</p>
                    <a href="{% url 'reg'%}" class="btn btn-primary">Sign Up</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}