{% extends 'base.html' %}

{% block title %}Main page{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Login</p>
                <a href="{% url 'reg' %}" class="btn btn-primary">Sign In</a>
            </div>
            <div class="col">
                <p>Registration</p>
                <a href="{% url 'login'%}" class="btn btn-primary">Sign Up</a>
            </div>
        </div>
    </div>
{% endblock %}