{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class='d-flex flex-row'>
            <div class='p-2'>
                <h3 class='mt-5'>{{ request.user.username }}</h3>
                <h5>{{ request.user.email }}</h5>
            </div>
            <div class='p-2'>
                <img class="rounded-circle mx-auto d-block" src="{{ avatar }}" style='width:10em; height:10em' alt="Avatar">
            </div>
        </div>

        <div class='mt-5'>
            <form method='post'>
                {% csrf_token %}
                {{ form }}
                <button type="submit">Update</button>
            </form>
        </div>

        <div class="container mt-5 mb-5">
            <div class="row">
                {% for el in articles %}
                    <div class="col-sm">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ el.image }}" class="card-img-top" alt="Image">
                            <div class="card-body">
                            <h5 class="card-title">{{ el.name }}</h5>
                            <p class="card-text">Author: {{ el.author }}</p>
                            <a href="{% url 'post' el.id %}" class="btn btn-primary">Read</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <h1>Go to your account</h1>
        <div class="col">
            <a href="{% url 'login' %}" class="btn btn-primary">Sign In</a>
        </div>
    {% endif %}
{% endblock %}