{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h3>{{ request.user.username }}</h3>
        <h5>{{ request.user.email }}</h5>

        <div class="container">
            <div class="row">
                {% for el in articles %}
                    <div class="col-sm">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ el.image }}" class="card-img-top" alt="Image">
                            <div class="card-body">
                            <h5 class="card-title">{{ el.name }}</h5>
                            <p class="card-text">Author: {{ el.author }}</p>
                            <a href="{% url 'post' el.id %}" class="btn btn-primary">Read</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <h1>Go to your account</h1>
        <div class="col">
            <a href="{% url 'login' %}" class="btn btn-primary">Sign In</a>
        </div>
    {% endif %}
{% endblock %}