{% extends 'appmain/base.html' %}

{% block title %}Add article{% endblock %}

{% block content %}
    {% if request.user.is_staff %}
        <br>
        <div class='d-flex justify-content-center'>
            <h3>Add new article</h3>
        </div>
        <br>
        <form method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            <div class='d-flex justify-content-center'>
                {{ form.title }}
            </div>
            <br>
            <div class='d-flex justify-content-center'>
                {{ form.text }}
            </div>
            <br>
            <div class='d-flex justify-content-center'>
                {{ form.image }}
            </div>
            <br>
            <div class='d-flex justify-content-center'>
                {{ form.video }}
            </div>
            <br>
            <div class='d-flex justify-content-center'>
                <input type="submit" class='btn btn-success' value="Add new article">
            </div>
        </form>
    {% endif %}
{% endblock %}