{% extends 'appmain/base.html' %}

{% block title %}Admin page{% endblock %}

{% block content %}
    <h3>Admin page</h3>
    <br>

    <div>
        <a href="/admin" class='text-decoration-none'><span class="d-block p-2 bg-primary text-white">Admin panel</span></a>
        <a href="{% url 'add_article' %}" class='text-decoration-none'><span class="d-block p-2 bg-dark text-white">Add article</span></a>
        <a href="{% url 'set_recommendation' %}" class='text-decoration-none'><span class="d-block p-2 bg-secondary text-white">Set recommendation</span></a>
    </div>
{% endblock %}