{% extends 'appmain/base.html' %}

{% block title %}Article{% endblock %}

{% block content %}
    <!-- Information -->
    <img class="card-img-top" src="/media/{{ article.image }}" alt="Card image cap">
    <h1>{{ article.title }}</h1>
    <p>{{ article.username }}</p>
    <p>{{ article.date_of_save }}</p>
    <p>{{ article.text }}</p>

    <br>

    <!-- Like -->
    <div>
        <a href="{% url 'like' article.id %}">
            {% if like %}
                <img src="/media/src/like.png" alt="Like" width="40">
            {% else %}
                <img src="/media/src/not_like.png" alt="Like" width="40">
            {% endif %}
        </a>
    </div>

    <br>
    
    <!-- Admin menu -->
    {% if request.user.is_staff %}
        <p><a href="{% url 'article_edit' article.id %}" class="btn btn-success">Edit</a> 
        <a href="{% url 'set_recommendation' article.id %}" class="btn btn-info">Set recommendation</a>
        <a href="{% url 'article_delete' article.id %}" class="btn btn-danger">Delete</a></p>
        <br>
    {% endif %}
    
    <!-- Video -->
    <div class="d-flex justify-content-center">
        <iframe width="560" height="315" src="{{ article.video }}" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
    </div>

    <br><br>
    
    <!-- Recommendation -->
    <p class="h3">Recommendation</p>
    <div class="container">
        <div class="row">
            {% for article in articles %}
                <div class="col-sm">
                    <a href="{% url 'article' article.id %}" class="text-decoration-none text-dark">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="..." alt="Card image cap">
                            <div class="card-body">
                            <p class="card-text">{{ article.title }}</p>
                            <p class='text-secondary'>{{ article.date_of_save }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                <br>
            {% endfor %}
        </div>
    </div>

    <br>

    <!-- Comments -->
    <p class="h3">Comments</p>
    <div>
        <form method="POST">
            {% csrf_token %}
            {{ form.text }}

            <input type="submit" value="Add comment">
        </form>
    </div>

    <br>

    <div>
        {% if comments %}
            {% for comment in comments %}
                <div class="d-flex justify-content-left py-2" 
                     style="box-shadow: 10px 10px 5px #aaaaaa; background-color: #fcfcfc;
                     border-radius: 20px;">
                    &nbsp;
                    <div class="second py-2 px-2"> <span class="text1">{{ comment.text }}</span>
                        <div class="d-flex justify-content-between py-1 pt-2">
                            &nbsp;&nbsp;&nbsp;
                            <div><!--<img src="https://i.imgur.com/AgAC1Is.jpg" width="18">--><span class="text2">{{ comment.user.username }}</span></div>
                            &nbsp;&nbsp;&nbsp;
                            <div><span class="text3 text-secondary">{{ comment.date }}</span></div>
                        </div>
                    </div>
                </div>
                <br>
            {% endfor %}
        {% else %}
            <p>No comments</p>
        {% endif %}
    </div>

{% endblock %}