{% extends 'appmain/base.html' %}

{% block title %}Article edit{% endblock %}

{% block content %}
    <br>
    <h1>Edit article</h1>

    <br>

    {% if form %}
        <div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.title }}
                <br><br>
                {{ form.text }}
                <br><br>
                <div style="width: 15em;">
                    {{ form.image }}
                </div>
                <br>
                {{ form.video }}
                <br><br>
                <input type="submit" class="btn btn-success" value="Edit">
            </form>
        </div>
    {% endif %}
{% endblock %}