{% extends 'appmain/base.html' %}

{% block title %}Favourite{% endblock %}

{% block content %}
    <h3>Favourite</h3>

    <br>

    <div class="container">
        {% if articles %}
            <div>
                <div class="d-flex justify-content-center">
                    <div style="width: 85%">
                        <div class="container">
                            <div class="row">
                                {% for article in articles %}
                                    <div class="col-sm-4">
                                        <a href="{% url 'article' article.article.id %}" class="text-decoration-none text-dark">
                                            <div class="card" style="width: 18rem;">
                                                <img class="card-img-top" src="/media/{{ article.article.image }}" alt="Card image cap"
                                                style="object-fit: cover; width: 100%; height: 10em;">
                                                <div class="card-body">
                                                <p class="card-text">{{ article.article.title }}</p>
                                                <p class="card-text">
                                                    <img src="/media/src/like.png" alt="Like" width="30"> {{ article.article.likes }}
                                                </p>
                                                <p class='text-secondary'>{{ article.article.date_of_save }}</p>
                                                </div>
                                            </div>
                                        </a>
                                        
                                        <br>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            {% if page_obj.paginator.num_pages > 1 %}
                <div class="container">
                    <div class="pagination">
                        <p><span class="step-links">
                            {% if page_obj.has_previous %}
                                <a href="?page={{ page_obj.previous_page_number }}"
                                class="text-decoration-none">Previous</a>
                            {% endif %}
                        </span></p>
        
                        <p>&nbsp; Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} &nbsp;</p>
        
                        <span class="step-links">
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}"
                                class="text-decoration-none">Next</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <p>No favourites</p>
        {% endif %}
    </div>
{% endblock %}