{% extends 'appmain/base.html' %}

{% block title %}Main page{% endblock %}

{% block content %}
    <h3>Main page</h3>

    <!-- Block of recommendation -->
    <div class='container'>
        <p><a href="{% url 'recommendation' %}">Recommendation</a></p>
    </div>

    <br>

    <!-- Block of articles -->
    <div class='container'>
        {% for article in articles %}
            <a href="{% url 'article' article.id %}" class="text-decoration-none text-dark">
                <div class='border border-secondary rounded'>
                    <p class='h3'>{{ article.title }}</p>
                    <p>{{ article.text }}</p>
                    <p class='text-secondary'>{{ article.date_of_save }}</p>
                </div>
            </a>
            <br>
        {% endfor %}
        <p><a href="{% url 'list_of_articles' %}">Articles</a></p>
        <br>
        <div class="pagination">
            <p><span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Next</a>
                {% endif %}
            </span></p>
            <p>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</p>
        </div>
    </div>

    <br>

    <!-- Block of rate -->
    <div>
        <a href="{% url 'rate' %}">Rate</a>
    </div>
{% endblock %}