{% extends 'appmain/base.html' %}

{% block title %}Main page{% endblock %}

{% block content %}
    <h3>Main page</h3>

    <br>

    <!-- Block of recommendation -->
    {% if last_rec %}
        <div class='container'>
            <a href="{% url 'article' last_rec.article.id %}" class="text-decoration-none text-dark">
                <div class="card mb-3">
                    <img class="card-img-top" src="/media/{{ last_rec.article.image }}" 
                    alt="Card image cap" style="object-fit: cover; width: 100%; height: 10em;">
                    <div class="card-body">
                    <h5 class="card-title">{{ last_rec.article.title }}</h5>
                    <p class="card-text">{{ last_rec.article.text }}</p>
                    <p class="card-text">
                        <img src="/media/src/like.png" alt="Like" width="30"> {{ last_rec.article.likes }}
                    </p>
                    <p class="card-text"><small class="text-muted">{{ last_rec.article.date_of_save }}</small></p>
                    </div>
                </div>
            </a>
        </div>
    {% else %}
        <div class="container">
            <div class="d-flex justify-content-between">
                <br><br><br>
                <p>Not recommendation now</p>
                <br><br><br>
            </div>
        </div>
    {% endif %}

    <br>

    <!-- Block of articles -->
    <div class='container'>
        {% if articles %}
            <div>
                <div class="d-flex justify-content-center">
                    <div>
                        <div class="container">
                            <div class="row">
                                {% for article in articles %}
                                    <div class="col-sm">
                                        <a href="{% url 'article' article.id %}" class="text-decoration-none text-dark">
                                            <div class="card" style="width: 18rem;">
                                                <img class="card-img-top" src="/media/{{ article.image }}" alt="Card image cap"
                                                style="object-fit: cover; width: 100%; height: 10em;">
                                                <div class="card-body">
                                                <p class="card-text">{{ article.title }}</p>
                                                <p class="card-text">
                                                    <img src="/media/src/like.png" alt="Like" width="30"> {{ article.likes }}
                                                </p>
                                                <p class='text-secondary'>{{ article.date_of_save }}</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <br>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <p>No articles now</p>
        {% endif %}

        <br>

        {% if page_obj.paginator.num_pages > 1 %}
            <div class="container">
                <div class="pagination">
                    <p><span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}"
                            class="text-decoration-none">Previous</a>
                        {% endif %}
                    </span></p>

                    <p>&nbsp; Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} &nbsp;</p>

                    <span class="step-links">
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}"
                            class="text-decoration-none">Next</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        {% endif %}
        
        <br>
    </div>

    <br>

    <!-- Block of rate -->
    <div>
        <a href="{% url 'rate' %}">
            <div class="card bg-dark text-white">
                <img class="card-img" src="/media/src/bg_rate.jpg" alt="Card image"
                style="object-fit: cover; width: 100%; height: 10em;">
                <div class="card-img-overlay">
                <br>
                <h5 class="card-title">Rate</h5>
                <p class="card-text">List of the most popular games by the number of likes</p>
                <p class="card-text">Click to view</p>
                </div>
            </div>
        </a>
    </div>

    <br>

    <!-- Articles block link -->
    <div>
        <a href="{% url 'list_of_articles' %}" class="text-decoration-none text-dark">
            <div class="card bg-dark text-white">
                <img class="card-img" src="/media/src/bg_article.jpg" alt="Card image"
                style="object-fit: cover; width: 100%; height: 10em;">
                <div class="card-img-overlay">
                <br>
                <h5 class="card-title">Articles</h5>
                <p class="card-text">List of all games articles sorted by date added</p>
                <p class="card-text">Click to view</p>
                </div>
            </div>
        </a>
    </div>
{% endblock %}