{% extends 'appmain/base.html' %}

{% block title %}Settings{% endblock %}

{% block content %}

    <h1>Settings</h1>

    <br><br>
    <div class="d-flex justify-content-center">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="container">
                            <p class="h3">Update user data</p>
                            <br>
                            <form method="POST">
                                {% csrf_token %}
                                <input type="text" name="username" placeholder="Username" value="{{ user.username }}" required>
                                <br><br>
                                <input type="text" name="email" placeholder="Username" value="{{ user.email }}" required>
                                <br><br>
                                <input type="submit" class="btn btn-success" value="Set">
                            </form>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="container">
                            <p class="h3">Update password</p>
                            <br>
                            <form method="POST" action="{% url 'change_password' %}">
                                {% csrf_token %}
                                <input type="password" name="password_1" placeholder="New password">
                                <br><br>
                                <input type="password" name="password_2" placeholder="Confirm password">
                                <br><br>
                                <input type="submit" class="btn btn-success" value="Set">
                            </form>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="container">
                            <p class="h3">Update user avatar</p>
                            <br>
                            <form action="{% url 'set_avatar' %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form_avatar.image }}
                                <br>
                                <input type="submit" class="btn btn-success" value="Set">
                                <a href="{% url 'set_avatar' %}" class="btn btn-danger">Delete</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}