<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href='https://accounts.google.com/o/oauth2/auth?redirect_uri=http://127.0.0.1:5000/&response_type=code&client_id=584434119467-futqefiguil1kejhaeptjqiujhgmrc8o.apps.googleusercontent.com&scope=https://www.googleapis.com/auth/userinfo.email'>Auth</a>
</body>
</html>