* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Прелоадер */
#preloader {
    background: linear-gradient(45deg, #3c4669, #9ba0d7);
    position: fixed;
    z-index: 999;
    visibility: visible;
    width: 100%;
    height: 100%;
}
#preloader {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Header */
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 90px;
}
header > div:nth-child(2) {
    margin: auto auto;
}
header > div > h1 {
    font-family: "Mistral";
    color: #00e4ff;
    padding: 10px 0 0 10px;
    font-size: 40px;
}
header > div > h2 {
    font-family: "Mistral";
    color: #ffffff;
    padding-left: 10px;
    font-size: 22px;
    text-transform: uppercase;
}

/* Настройки для h3 */
h3 {
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    font-family: "Mistral";
    text-transform: uppercase;
    padding-top: 30px;
}

.main__text {
    background: rgba(255,255,255,0.9);
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

p {
    font-size: 20px;
    color: white;
}

main {
    background: rgba(0, 0, 0, 0.5);
}

form {
    height: 450px;
}

.form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.user__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}

.user__info > input {
    border-radius: 5px;
    width: 95%;
    height: 35px;
    border: none;
    outline: none;
    font-size: 25px;
    font-weight: bold;

}

.comment {
    margin-top: 20px;
    height: 175px;
}

.comment > textarea {
    width: 97.7%;
    border-radius: 5px;
    outline: none;
    font-size: 25px;
}

.submit {
    width: 95%;
    height: 30px;
    margin-bottom: 500px;
}

.submit > input {
    float: right;
    width: 170px;
    height: 35px;
    background: #00e4ff;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 25px;
    outline: none;
    transition: all 1s ease;
}
.submit > input:hover {
    background: #00b5c9;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255,255,255,0.5);
}

.AboutSite > div {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.aboutMe > div {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}


/* Footer */
footer {
    background: rgba(37, 37, 37, 0.589);
}
footer > p {
    font-size: 25px;
    color: white;
    font-variant: small-caps;
    text-align: center;
    font-family: "Mistral";
}
footer > div {
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

/* Media */
@media screen and (max-width: 992px) {
    .menu__icon {
        margin-right: -150px;
    }
}
@media screen and (max-width: 768px) {
    .menu__icon {
        margin-right: -120px;
    }
}
@media screen and (max-width: 576px) {
    .menu__icon {
        margin-right: -100px;
    }
}
@media screen and (max-width: 480px) {
    .menu__icon {
        margin-right: -60px;
    }
}
@media screen and (max-width: 320px) {
    .menu__icon {
        margin-right: -20px;
    }
}