{% extends 'base.html' %}

{% block title %}Main page{% endblock %}

{% block content %}
    <br>
    <div class="d-flex justify-content-center">
        <img src="{{ meme.url }}" height=350 alt="Meme">
    </div>
    <div class="d-flex justify-content-center">
        <p>{{ meme.title }}</p>
    </div>
    <div class="d-flex justify-content-center">
        <p>Likes: {{ meme.likes }}</p>
    </div>
    <div class="d-flex justify-content-center">
        <p><a href="/next" class="btn btn-success">Next</a>
        &nbsp;
        <a href="/like/{{ meme.id }}" class="btn btn-info">Like</a></p>
    </div>
{% endblock %}