{% extends 'login_social/base.html' %}

{% block title %}Login via social networks{% endblock %}

{% block content %}
    <br>
    <h1 class="text-center">Login via social networks</h1>
    <br><br><br>
    <div class="d-flex justify-content-center">
        <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-info">Login via Facebook</a>
    </div>
    <br>
    <div class="d-flex justify-content-center">
        <a href="{% url 'login' %}" class="text-decoration-none">Login</a>
    </div>
    
{% endblock %}