{% extends 'base.html' %}

{% block title %}Article{% endblock %}

{% block content %}

    {% include 'nav.html' %}

    <div class="article container">

        <div class="article__data">
            <h3>{{ article.title }}</h3>

            <pre>Author: <span>{{ article.author.username }}</span>    Date of publication: <span>{{ article.date }}</span></pre>

            <p>{{ article.text }}</p>

            {% for at in article.blog_obj %}
                <a href="#" class="btn btn-secondary btn-sm">{{ at.tag.tag }}</a>
            {% endfor %}
        </div>

        <div class="article__other">
            <img src="../{{ article.images[0].path }}" alt="First image">
        </div>

        <div class="article__answers">
            <h5>Answers ({{ article.article_comment_obj|length }}):</h5>

            <form action="/article/comment" method="POST">
                <textarea class="form-control" name="comment" placeholder="Comment"></textarea>
                <input type="hidden" name="article_id" value="{{ article.id }}">
                <br>
                <input type="submit" value="Leave your comment">
            </form>


            <div>

                {% for q in article.article_comment_obj %}
                    <div class="article__answers__item">
                        <hr>
                        <p>{{ q.text }}</p>
                        <p>{{ q.author.username }} | {{ q.date }}</p>
                    </div>
                {% endfor %}

                <hr>
                <p><a href="#" class="text-decoration-none">See all answers</a></p>

            </div>
        </div>

    </div>

    {% include 'footer.html' %}

{% endblock %}