{% extends 'base.html' %}

{% block title %}Blog{% endblock %}

{% block content %}

    {% include 'nav.html' %}

    <div class="blog container">
        <h3>Blog</h3>

        <div class="blog_grid">

            <div class="card blog_article" style="width: 18rem;">
                <img class="card-img-top" src="https://www.myersdavis.com/sites/default/files/styles/large/public/2019-04/iStock-875657838.jpg?itok=7A0464sa" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title"><a href="#" class="main_content__link">Freedom</a></h5>
                <p class="card-text">Some little description for understanding main topic of this article.</p>
                <p class="card-text">Author | 6:37 AM 26.10.2022</p>
                    <p class="card-text">
                        <a href="#" class="btn btn-secondary btn-sm">Tag</a>
                        <a href="#" class="btn btn-secondary btn-sm">New</a>
                        <a href="#" class="btn btn-secondary btn-sm">Another</a>
                    </p>
                </div>
            </div>

            <div class="card blog_article" style="width: 18rem;">
                <img class="card-img-top" src="https://www.myersdavis.com/sites/default/files/styles/large/public/2019-04/iStock-875657838.jpg?itok=7A0464sa" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title"><a href="#" class="main_content__link">Freedom</a></h5>
                <p class="card-text">Some little description for understanding main topic of this article.</p>
                <p class="card-text">Author | 6:37 AM 26.10.2022</p>
                    <p class="card-text">
                        <a href="#" class="btn btn-secondary btn-sm">Tag</a>
                        <a href="#" class="btn btn-secondary btn-sm">New</a>
                        <a href="#" class="btn btn-secondary btn-sm">Another</a>
                    </p>
                </div>
            </div>

            <div class="card blog_article" style="width: 18rem;">
                <img class="card-img-top" src="https://www.myersdavis.com/sites/default/files/styles/large/public/2019-04/iStock-875657838.jpg?itok=7A0464sa" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title"><a href="#" class="main_content__link">Freedom</a></h5>
                <p class="card-text">Some little description for understanding main topic of this article.</p>
                <p class="card-text">Author | 6:37 AM 26.10.2022</p>
                    <p class="card-text">
                        <a href="#" class="btn btn-secondary btn-sm">Tag</a>
                        <a href="#" class="btn btn-secondary btn-sm">New</a>
                        <a href="#" class="btn btn-secondary btn-sm">Another</a>
                    </p>
                </div>
            </div>

        </div>

        <div class="blog_line">
            
            <div class="card main_content__question">
                <div class="card-body">
                    <h5 class="card-title"><a href="#" class="main_content__link">I don't know, it's just a questing, thanks</a></h5>
                    <p class="card-text">Some little description for understanding main topic of this article.</p>
                    <p class="card-text">Author | 6:37 AM 26.10.2022</p>
                    <p class="card-text">
                        <a href="#" class="btn btn-secondary btn-sm">Tag</a>
                        <a href="#" class="btn btn-secondary btn-sm">New</a>
                        <a href="#" class="btn btn-secondary btn-sm">Another</a>
                    </p>
                </div>
            </div>

        </div>
    </div>

{% endblock %}