{% extends 'base.html' %}

{% block title %}Blog{% endblock %}

{% block content %}

    {% include 'nav.html' %}

    <div class="blog container">
        <h3>Blog</h3>

        <div>
            <a class="blog__button" href="/blog/create">Create article</a>
        </div>

        <div class="blog_grid">

            {% for article in blog %}
                <div class="card blog_article" style="width: 18rem;">
                    {% if article.images %}
                        <img class="card-img-top" src="{{ article.images[0].path }}" alt="Card image cap">
                    {% else %}
                        <img class="card-img-top" src="https://png.pngtree.com/thumb_back/fh260/background/20211031/pngtree-abstract-bg-image_914283.png" alt="Card image cap">
                    {% endif %}
                    <div class="card-body">
                    <h5 class="card-title"><a href="/article/{{ article.id }}" class="main_content__link">{{ article.title }}</a></h5>
                    <p class="card-text">{{ article.text }}</p>
                    <p class="card-text">{{ article.author.username }} | {{ article.date }}</p>
                        <p class="card-text">
                            {% for bt in article.blog_obj %}
                                <a href="/tag/{{ bt.tag.id }}" class="btn btn-secondary btn-sm">{{ bt.tag.tag }}</a>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            {% endfor %}

        </div>

        <br>

        <div class="btn_pagination">
            <div class="text-right">
                <a href="/blog?page={{ blog.prev_num }}"
                class="btn btn-click
                {% if blog.page == 1 %}disabled{% endif %}">
                    &laquo;
                </a>
                {% for page_num in blog.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}{% if page_num %}
                        {% if blog.page == page_num %}
                        <a href="/blog?page={{ page_num }}"
                        class="btn btn-activate">
                            {{ page_num }}
                        </a>
                        {% else %}
                        <a href="/blog?page={{ page_num }}"
                        class="btn btn-click">
                            {{ page_num }}
                        </a>
                        {% endif %}
                    {% else %}
                        ...
                    {% endif %}
                {% endfor %}    <a href="/blog?page={{ blog.next_num }}"
                class="btn btn-click
                {% if blog.page == blog.pages %}disabled{% endif %}">
                    &raquo;
                </a>
            </div>
        </div>
    
    </div>

    {% include 'footer.html' %}

{% endblock %}