{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="reg">
        <div class="reg__form">
            <div>
                <br><br>
                <h1>Login</h1>
                
                <form action="#" method="POST">
                    <input type="email" class="form-control" name="email" placeholder="Email">
                    <br>
                    <input type="password" class="form-control" name="password" placeholder="Password">

                    <br>
                    <input type="submit" class="reg__submit" value="Login">
                </form>
            </div>
        </div>

        <div class="login__bg"></div>
    </div>
{% endblock %}