{% extends 'base.html' %}

{% block title %}ProtectMyFreedom{% endblock %}

{% block content %}

    {% include 'nav.html' %}

    <main>
        <div class="container main_content">
            <div class="grid_main">
                <div class="main_content__tags">
                    <h4 class="main_content__header">Tags</h4>

                    <div class="main_content__tags__list">
                        {% for tag in tags %}
                            <p><a href="/tag/{{ tag.id }}" class="btn btn-secondary btn-sm">{{ tag.tag }}</a></p>
                        {% endfor %}
                    </div>
                </div>

                <div>
                    <h4 class="main_content__header">Questions</h4>

                    <div class="main_content__ask">
                        <a class="main__button" href="/ask">Ask question</a>
                        <p>Do you have a question? Ask.</p>
                    </div>

                    <hr class="main_content__hr">

                    <div class="main__content__questions">

                        {% for question in questions %}
                            <div class="card main_content__question">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="/question/{{ question.id }}" class="main_content__link">{{ question.title }}</a></h5>
                                    <p class="card-text">{{ question.author.username }} | {{ question.date }}</p>
                                    <p class="card-text">
                                        {% for qt in question.question_obj %}
                                            <a href="/tag/{{ qt.tag.id }}" class="btn btn-secondary btn-sm">{{ qt.tag.tag }}</a>
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="btn_pagination">
                        <div class="text-right">
                            <a href="/main?page={{ questions.prev_num }}"
                            class="btn btn-click
                            {% if questions.page == 1 %}disabled{% endif %}">
                                &laquo;
                            </a>
                            {% for page_num in questions.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}{% if page_num %}
                                    {% if questions.page == page_num %}
                                    <a href="/main?page={{ page_num }}"
                                    class="btn btn-activate">
                                        {{ page_num }}
                                    </a>
                                    {% else %}
                                    <a href="/main?page={{ page_num }}"
                                    class="btn btn-click">
                                        {{ page_num }}
                                    </a>
                                    {% endif %}
                                {% else %}
                                    ...
                                {% endif %}
                            {% endfor %}    <a href="/main?page={{ questions.next_num }}"
                            class="btn btn-click
                            {% if questions.page == questions.pages %}disabled{% endif %}">
                                &raquo;
                            </a>
                        </div>
                    </div>

                </div>

                <div>
                    
                </div>
            </div>
        </div>
    </main>

    {% include 'footer.html' %}

{% endblock %}