{% extends 'base.html' %}

{% block title %}ProtectMyFreedom{% endblock %}

{% block content %}

    {% include 'nav.html' %}

    <main>
        <div class="container main_content">
            <div class="grid_main">
                <div class="main_content__tags">
                    <h4 class="main_content__header">Tags</h4>

                    <div class="main_content__tags__list">
                        {% for tag in tags %}
                            <p><a href="#" class="btn btn-secondary btn-sm">{{ tag.tag }}</a></p>
                        {% endfor %}
                    </div>
                </div>

                <div>
                    <h4 class="main_content__header">Questions</h4>

                    <div class="main_content__ask">
                        <a class="main__button" href="/ask">Ask question</a>
                        <p>Do you have a question? Ask.</p>
                    </div>

                    <hr class="main_content__hr">

                    <div class="main__content__questions">

                        {% for question in questions %}
                            <div class="card main_content__question">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="/question/{{ question.id }}" class="main_content__link">{{ question.title }}</a></h5>
                                    <p class="card-text">{{ question.author.username }} | {{ question.date }}</p>
                                    <p class="card-text">
                                        {% for qt in question.question_obj %}
                                            <a href="#" class="btn btn-secondary btn-sm">{{ qt.tag.tag }}</a>
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div>
                    <h4 class="main_content__header">Blog</h4>

                    <div class="main_content__other">
                    
                        {% for article in blog %}
                            <div class="card blog_article" style="width: 18rem;">
                                <img class="card-img-top" src="{{ article.images[0].path }}" alt="Card image cap">
                                <div class="card-body">
                                <h5 class="card-title"><a href="#" class="main_content__link">{{ article.title }}</a></h5>
                                <p class="card-text">{{ article.text }}</p>
                                <p class="card-text">{{ article.author.username }} | {{ article.date }}</p>
                                    <p class="card-text">
                                        {% for bt in article.blog_obj %}
                                            <a href="#" class="btn btn-secondary btn-sm">{{ bt.tag.tag }}</a>
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                        
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% include 'footer.html' %}

{% endblock %}