{% extends 'base.html' %}

{% block title %}Name{% endblock %}

{% block content %}

    {% include 'nav.html' %}

    <div class="profile container">
        <div class="profile_grid">

            <div>
                <div class="flex">
                    <div>
                        <div class="avatar"></div>
                    </div>
                    <div>
                        <h2>Username</h2>
                        <p>Member Since: Nov 2002</p>
                    </div>
                </div>
                
                <br>
                <h5>Reputation: 120</h5>
                <h5>Followers: 3</h5>
                <br>
            </div>

            <div>
                <h3>The last questions</h3>

                <div class="card main_content__question">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#" class="main_content__link">Title</a></h5>
                        <p class="card-text">Nov 01 2022</p>
                        <p class="card-text">
                            <a href="#" class="btn btn-secondary btn-sm">tag</a>
                            <a href="#" class="btn btn-secondary btn-sm">new</a>
                            <a href="#" class="btn btn-secondary btn-sm">data</a>
                        </p>
                    </div>
                </div>

                <div class="card main_content__question">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#" class="main_content__link">Title</a></h5>
                        <p class="card-text">Nov 01 2022</p>
                        <p class="card-text">
                            <a href="#" class="btn btn-secondary btn-sm">tag</a>
                            <a href="#" class="btn btn-secondary btn-sm">new</a>
                            <a href="#" class="btn btn-secondary btn-sm">data</a>
                        </p>
                    </div>
                </div>

                <div class="card main_content__question">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#" class="main_content__link">Title</a></h5>
                        <p class="card-text">Nov 01 2022</p>
                        <p class="card-text">
                            <a href="#" class="btn btn-secondary btn-sm">tag</a>
                            <a href="#" class="btn btn-secondary btn-sm">new</a>
                            <a href="#" class="btn btn-secondary btn-sm">data</a>
                        </p>
                    </div>
                </div>

                <h3>The last articles</h3>

                <div class="profile__blog_grid">

                    <div class="card blog_article" style="width: 18rem;">
                        <img class="card-img-top" src="" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title"><a href="№" class="main_content__link">Title</a></h5>
                        <p class="card-text">Description</p>
                        <p class="card-text">Nov 01 2022</p>
                            <p class="card-text">
                                <a href="#" class="btn btn-secondary btn-sm">tag</a>
                                <a href="#" class="btn btn-secondary btn-sm">new</a>
                                <a href="#" class="btn btn-secondary btn-sm">data</a>
                            </p>
                        </div>
                    </div>

                    <div class="card blog_article" style="width: 18rem;">
                        <img class="card-img-top" src="" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title"><a href="№" class="main_content__link">Title</a></h5>
                        <p class="card-text">Description</p>
                        <p class="card-text">Nov 01 2022</p>
                            <p class="card-text">
                                <a href="#" class="btn btn-secondary btn-sm">tag</a>
                                <a href="#" class="btn btn-secondary btn-sm">new</a>
                                <a href="#" class="btn btn-secondary btn-sm">data</a>
                            </p>
                        </div>
                    </div>

                    <div class="card blog_article" style="width: 18rem;">
                        <img class="card-img-top" src="" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title"><a href="№" class="main_content__link">Title</a></h5>
                        <p class="card-text">Description</p>
                        <p class="card-text">Nov 01 2022</p>
                            <p class="card-text">
                                <a href="#" class="btn btn-secondary btn-sm">tag</a>
                                <a href="#" class="btn btn-secondary btn-sm">new</a>
                                <a href="#" class="btn btn-secondary btn-sm">data</a>
                            </p>
                        </div>
                    </div>
        
                </div>
            </div>

        </div>
    </div>

    {% include 'footer.html' %}

{% endblock %}