{% extends 'base.html' %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}

    {% include 'nav.html' %}

    <div class="profile container">
        <div class="profile_grid">

            <div>
                <div class="flex">
                    <div>
                        {% if user.user_avatar %}
                            <div class="avatar" style="background-image: url('../../{{ user.user_avatar[0].path }}')" onclick="open_uploader()"></div>
                        {% else %}
                            <div class="avatar" onclick="open_uploader()"></div>
                        {% endif %}
                    </div>
                    <div class="user__info">
                        <h2>{{ user.username }}</h2>
                        <p>Member Since: {{ user.date_of_reg }}</p>
                    </div>
                </div>
                
                <br>
                <h5>Reputation: 120</h5>
                <h5>Followers: 3</h5>
                <br> 
            </div>

            <div>
                <h3>The last questions</h3>

                {% if questions %}
                    {% for question in questions %}
                        <div class="card main_content__question">
                            <div class="card-body">
                                <h5 class="card-title"><a href="/question/{{ question.id }}" class="main_content__link">{{ question.title }}</a></h5>
                                <p class="card-text">{{ question.author.username }} | {{ question.date.strftime('%d.%m.%Y') }}</p>
                                <p class="card-text">
                                    {% for qt in question.question_obj %}
                                        <a href="/tag/{{ qt.tag.id }}" class="btn btn-secondary btn-sm">{{ qt.tag.tag }}</a>
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <pre>No questions yet</pre>
                {% endif %}
                <div>

                </div>
            </div>

        </div>
    </div>

    <div class="avatar_uploader">
        <div>
            <p class="close_uploader" onclick="close_uploader()">x</p>

            <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
            <div class="file-upload">
            
                <form action = "/profile/avatar" method="POST" enctype = "multipart/form-data">
                    <div class="image-upload-wrap">
                        <input class="file-upload-input" type='file' name="file" onchange="readURL(this);" accept="image/*" required />
                        <div class="drag-text">
                        <h3>Drag and drop a file or select add Image</h3>
                        </div>
                    </div>

                    <div class="file-upload-content">
                        <img class="file-upload-image" src="#" alt="your image" />
                        <div class="image-title-wrap">
                        <p><span class="image-title">Uploaded Image</span></p>
                        <button type="submit" class="upload-image-btn">Upload</button>
                        <button type="button" onclick="removeUpload()" class="remove-image">Remove</button>
                    </div>

                    <!-- <div class="file-upload-content">
                        <img class="file-upload-image" src="#" alt="your image" />
                        <div class="image-title-wrap">
                        <button type="submit" class="upload-image-btn">Remove <span class="image-title">Uploaded Image</span></button>
                    </div> -->
                </form>  

            </div>
            </div>
        </div>
    </div>

    <script src="../static/js/avatar_pop_up.js"></script>

    {% include 'footer.html' %}

{% endblock %}