{% extends 'base.html' %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}

    {% include 'nav.html' %}

    <div class="profile container">
        <div class="profile_grid">

            <div>
                <div class="flex">
                    <div>
                        <div class="avatar"></div>
                    </div>
                    <div>
                        <h2>{{ user.username }}</h2>
                        <p>Member Since: {{ user.date_of_reg }}</p>
                    </div>
                </div>
                
                <br>
                <h5>Reputation: 120</h5>
                <h5>Followers: 3</h5>
                <br>
            </div>

            <div>
                <h3>The last questions</h3>

                {% for question in questions %}
                    <div class="card main_content__question">
                        <div class="card-body">
                            <h5 class="card-title"><a href="/question/{{ question.id }}" class="main_content__link">{{ question.title }}</a></h5>
                            <p class="card-text">{{ question.author.username }} | {{ question.date }}</p>
                            <p class="card-text">
                                {% for qt in question.question_obj %}
                                    <a href="#" class="btn btn-secondary btn-sm">{{ qt.tag.tag }}</a>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                {% endfor %}

                <h3>The last articles</h3>

                <div class="profile__blog_grid">

                    {% for article in articles %}
                        <div class="card blog_article" style="width: 18rem;">
                            <img class="card-img-top" src="../{{ article.images[0].path }}" alt="Card image cap">
                            <div class="card-body">
                            <h5 class="card-title"><a href="/article/{{ article.id }}" class="main_content__link">{{ article.title }}</a></h5>
                            <p class="card-text">{{ article.text }}</p>
                            <p class="card-text">{{ article.date }}</p>
                                <p class="card-text">
                                    {% for bt in article.blog_obj %}
                                        <a href="#" class="btn btn-secondary btn-sm">{{ bt.tag.tag }}</a>
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>

        </div>
    </div>

    {% include 'footer.html' %}

{% endblock %}