{% extends 'base.html' %}

{% block title %}Registration{% endblock %}

{% block content %}
    <div class="reg">
        <div class="reg__form">
            <div>
                <h1>Create account</h1>
                
                <form action="/reg" method="POST">
                    <input type="text" class="form-control" name="username" placeholder="Username">
                    <br>
                    <input type="email" class="form-control" name="email" placeholder="Email">
                    <br>
                    <input type="password" class="form-control" name="password" placeholder="Password">
                    <br>
                    <input type="password" class="form-control" name="re_password" placeholder="Repeat password">

                    <br>
                    <input type="submit" class="reg__submit" value="Create">
                </form>
            </div>
        </div>

        <div class="reg__bg"></div>
    </div>

    <script src="static/js/validation.js"></script>
{% endblock %}