{% extends 'base.html' %}

{% block title %}Tags{% endblock %}

{% block content %}

    {% include 'nav.html' %}

    <div class="tag_questions container">

        <h3>Tag: <a href="/tag/{{ tag[0].tag.id }}" class="btn btn-secondary btn-sm">{{ tag[0].tag.tag }}</a></h3>
        
        {% for question in tag %}
            <div class="card main_content__question">
                <div class="card-body">
                    <h5 class="card-title"><a href="/question/{{ question.question.id }}" class="main_content__link">{{ question.question.title }}</a></h5>

                    <div class="flex">
                        <a href="/profile/{{ question.question.author.id }}" class="text-decoration-none text-dark">
                            {% if question.question.author.user_avatar %}
                                <div>
                                    <div class="avatar_little" style="background-image: url('../../{{ question.question.author.user_avatar[0].path }}')"></div>
                                </div>
                            {% else %}
                                <div>
                                    <div class="avatar_little"></div>
                                </div>
                            {% endif %}
                        </a>
                        <p class="card-text">&nbsp;&nbsp;<a href="/profile/{{ question.question.author.id }}" class="text-decoration-none text-dark">{{ question.question.author.username }}</a> | {{ question.question.date.strftime('%d.%m.%Y') }}</p>
                    </div>


                    <p class="card-text">
                        {% for qt in question.question.question_obj %}
                            <a href="/tag/{{ qt.tag.id }}" class="btn btn-secondary btn-sm">{{ qt.tag.tag }}</a>
                        {% endfor %}
                    </p>
                </div>
            </div>
        {% endfor %}
    
    </div>

    {% include 'footer.html' %}

{% endblock %}