{% extends 'base.html' %}

{% block title %}Tags{% endblock %}

{% block content %}

    {% include 'nav.html' %}

    <div class="tag_questions container">

        <h3>Tag: <a href="/tag/{{ tag_name.tag.id }}" class="btn btn-secondary btn-sm">{{ tag_name.tag.tag }}</a></h3>
        
        {% for question in tag %}
            <div class="card main_content__question">
                <div class="card-body">
                    <h5 class="card-title"><a href="/question/{{ question.question.id }}" class="main_content__link">{{ question.question.title }}</a></h5>

                    <div class="flex">
                        <a href="/profile/{{ question.question.author.id }}" class="text-decoration-none text-dark">
                            {% if question.question.author.user_avatar %}
                                <div>
                                    <div class="avatar_little" style="background-image: url('../../{{ question.question.author.user_avatar[0].path }}')"></div>
                                </div>
                            {% else %}
                                <div>
                                    <div class="avatar_little"></div>
                                </div>
                            {% endif %}
                        </a>
                        <p class="card-text">&nbsp;&nbsp;<a href="/profile/{{ question.question.author.id }}" class="text-decoration-none text-dark">{{ question.question.author.username }}</a> | {{ question.question.date.strftime('%d.%m.%Y') }}</p>
                    </div>


                    <p class="card-text">
                        {% for qt in question.question.question_obj %}
                            <a href="/tag/{{ qt.tag.id }}" class="btn btn-secondary btn-sm">{{ qt.tag.tag }}</a>
                        {% endfor %}
                    </p>
                </div>
            </div>
        {% endfor %}

        <div class="btn_pagination">
            <div class="text-right">
                <a href="/tag/{{ id }}?page={{ tag.prev_num }}"
                class="btn btn-click
                {% if tag.page == 1 %}disabled{% endif %}">
                    &laquo;
                </a>
                {% for page_num in tag.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}{% if page_num %}
                        {% if tag.page == page_num %}
                        <a href="/tag/{{ id }}?page={{ page_num }}"
                        class="btn btn-activate">
                            {{ page_num }}
                        </a>
                        {% else %}
                        <a href="/tag/{{ id }}?page={{ page_num }}"
                        class="btn btn-click">
                            {{ page_num }}
                        </a>
                        {% endif %}
                    {% else %}
                        ...
                    {% endif %}
                {% endfor %}    
                <a href="/tag/{{ id }}?page={{ tag.next_num }}"
                class="btn btn-click
                {% if tag.page == tag.pages %}disabled{% endif %}">
                    &raquo;
                </a>
            </div>
        </div>
    
    </div>

    {% include 'footer.html' %}

{% endblock %}