<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container">
            <div>
                <a class="navbar-brand nav__logo" href="/"><span>ProtectM</span><span>yFreedom</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="#">Profile 🧔</a>
                    <a class="nav-item nav-link" href="#">Blog 📘</a>
                    <a class="nav-item nav-link" href="/logout">Logout 🚪</a>
                </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="question container">

        <div class="question__data">
            <h3>Question - a big text about something, cool.</h3>

            <pre>Author: <span>New</span>    Date of publication: <span>2022-10-30 14:31:03.657815</span></pre>

            <p>I'm a novice in ROS and especially docker as I discovered it during this job assignment that I'm working on. They sent me a docker image with everything that I need on it (PX4-Autopilot,MAVROS, Gazebo for simulation and QGroundControl)

                I have to create a ROS node to achieve a mission (on an IRIS UAV) so I created a new package and when I tried to run/compile it, rospack couldn't find it.
                
                I followed all the steps from ROS Wiki and when I ran the catkin_make there weren't any errors or issues but the package is nowhere to be found for ROS.
                
                When I searched I noticed a small difference between my compilation and the one that I was supposed to get (and yes I tried to source the path again)
            </p>

            <a href="#" class="btn btn-secondary btn-sm">text</a>
            <a href="#" class="btn btn-secondary btn-sm">new</a>
            <a href="#" class="btn btn-secondary btn-sm">data</a>
        </div>

        <div class="question__other">
            <div>
                <h4>Other questions:</h4>
                
                <ul>
                    <li><a href="#" class="text-decoration-none">Some new question</a></li>
                    <li><a href="#" class="text-decoration-none">What is popular now?</a></li>
                    <li><a href="#" class="text-decoration-none">Interesting things</a></li>
                    <li><a href="#" class="text-decoration-none">Some new question</a></li>
                    <li><a href="#" class="text-decoration-none">Data about company</a></li>
                    <li><a href="#" class="text-decoration-none">Random</a></li>
                    <li><a href="#" class="text-decoration-none">Some new question</a></li>
                </ul>
            </div>
        </div>

        <div class="question__answers">
            <h5>Answers (3):</h5>

            <form action="">
                <textarea class="form-control" name="answer" placeholder="Make your answer"></textarea>
                <br>
                <input type="submit" value="Post your answer">
            </form>


            <div>

                <div class="question__answers__item">
                    <hr>
                    <p>I don't know</p>
                    <p>Author | 2022-10-30 14:31:03.657815</p>
                </div>

                <div class="question__answers__item">
                    <hr>
                    <p>I don't know as well</p>
                    <p>Author | 2022-10-30 14:31:03.657815</p>
                </div>
                
                <div class="question__answers__item">
                    <hr>
                    <p>But I know</p>
                    <p>Author | 2022-10-30 14:31:03.657815</p>
                </div>

            </div>
            <hr>

            <div class="question__answer__footer">
                <p><a href="/ask" class="text-decoration-none">Ask your own question</a></p>
            </div>
        </div>

    </div>

    <footer>
        <p>All right reserved</p>
        <p>Developed by EdMix</p>
        <p> 2022</p>
    </footer>
    
</body>
</html>