<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container">
            <div>
                <a class="navbar-brand nav__logo" href="/"><span>ProtectM</span><span>yFreedom</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="#">Profile 🧔</a>
                    <a class="nav-item nav-link" href="#">Blog 📘</a>
                    <a class="nav-item nav-link" href="/logout">Logout 🚪</a>
                </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="blog container">
        <h3>Create article</h3>

        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Upload">
        </form>

        <form action="/blog/create" method="POST">
            <input type="text" class="form-control" placeholder="Title" name="title">
            <br>
            <textarea class="form-control" placeholder="Description of question" name="text"></textarea>
            <br>
            <input type="text" class="form-control" placeholder="Tags, separated by comma" name="tags">
            <br>
            <input type="submit" value="Ask">
        </form>

    </div>
    
</body>
</html>