{% extends 'appmain/base.html' %}

{% block title %}Articles{% endblock %}

{% block content %}
    <h1>Articles</h1>
    <!-- {% for article in articles %}
        <div>
            <h3>{{article.title}}</h3>
            <p>{{article.content|truncatewords:5}}</p>
            <p>{{ article.time_create|date:'m-d-Y H:i:s' }}</p>
            <a href='{{ article.cat.get_absolute_url }}'>{{ article.cat.name }}</a>
            <a href="{{ article.get_absolute_url }}">Read</a>
        </div>
        <hr>
    {% endfor %} -->
    {% for article in page_obj %}
        <div>
            <h3>{{article.title}}</h3>
            <p>{{article.content|truncatewords:5}}</p>
            <p>{{ article.time_create|date:'m-d-Y H:i:s' }}</p>
            <a href='{{ article.cat.get_absolute_url }}'>{{ article.cat.name }}</a>
            <a href="{{ article.get_absolute_url }}">Read</a>
        </div>
        <hr>
    {% endfor %}
    <p>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}"><</a>
        {% endif %}
        {% for p in page_obj.paginator.page_range %}
            {% if page_obj.number == p %}
                <span>{{ page_obj.number }}</span>
            {% elif p >= page_obj.number|add:-1 and p <= page_obj.number|add:1 %}
                <a href="?page={{ p }}">{{ p }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">></a>
        {% endif %}
    </p>
    <a href="{% url 'main' %}">Main page</a>
{% endblock %}