{% extends 'appmain/base.html' %}

{% block title %}Articles{% endblock %}

{% block content %}
    <h1>Articles</h1>
    {% for article in articles %}
        <div>
            <h3>{{article.title}}</h3>
            <p>{{article.content|truncatewords:1}}</p>
            <p>{{ article.time_create|date:'m-d-Y H:i:s' }}</p>
            <a href='{{ article.cat.get_absolute_url }}'>{{ article.cat.name }}</a>
            <a href="{{ article.get_absolute_url }}">Read</a>
        </div>
        <hr>
    {% endfor %}
    <a href="{% url 'main' %}">Main page</a>
{% endblock %}