* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Прелоадер */
#preloader {
    background: linear-gradient(45deg, #3c4669, #9ba0d7);
    position: fixed;
    z-index: 999;
    visibility: visible;
    width: 100%;
    height: 100%;
}
#preloader {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Header */
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 90px;
}
header > div:nth-child(2) {
    margin: auto auto;
}
header > div > h1 {
    font-family: "Mistral";
    color: #00e4ff;
    padding: 10px 0 0 10px;
    font-size: 40px;
}
header > div > h2 {
    font-family: "Mistral";
    color: #ffffff;
    padding-left: 10px;
    font-size: 22px;
    text-transform: uppercase;
}

/* Настройки для h3 */
h3 {
    font-size: 30px;
    color: white;
    text-align: center;
    font-family: "Mistral";
    text-transform: uppercase;
    padding-top: 30px;
}

/* Настройки для h4 */
h4 {
    font-size: 25px;
    color: white;
    text-align: center;
    font-family: "Mistral";
}

/* Два блока для новин ігр */
.newsGames {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.newsGames__Left {
    display: grid;
    grid-template-columns: 1fr;
}

/* Найстройка для блоков стат'ї */
.newsGames__Right_block {
    width: 80%;
    height: 300px;
    margin-left: 2%;
    margin-right: 10%;
    background: #ffffff;
    border-radius: 5px;
}
.newsGames__Left_block {
    width: 80%;
    height: 150px;
    margin-left: 18%;
    background: #ffffff;
    border-radius: 5px;
}
.newsGames__Left_div {
    width: 80%;
    height: 150px;
    margin-left: 18%;
    border-radius: 5px;
    text-transform: uppercase;
}
.newsGames__Left_div > p {
    font-family: "Mistral";
    font-size: 25px;
    color: white;
    text-align: center;
}
.newsGames__Left_div > h4 {
    padding-top: 30px;
}

/* oldGames */
.oldGames {
    margin-top: 7px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.oldGames > div > div {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 5px;
}
.oldGames > div > p > a {
    font-size: 20px;
    color: white;
    font-family: "Mistral";
    text-transform: uppercase;
    text-decoration: none;
}
.oldGames > div > p {
    text-align: center;
}

/* NotPopularGame */
.NotPopularGame {
    display: grid;
    grid-template-columns: 1fr;
}
.NotPopularGame > div {
    width: 80%;
    height: 200px;
    background: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 19px;
    border-radius: 10px;
}
.NotPopularGame > div > div > a > img {
    padding-left: 10px;
}
.NotPopularGame > div {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.NotPopularGame > div > a > div > p {
    color: gray;
    font-size: 20px;
    padding-left: 70px;
    font-family: "Mistral";
    text-transform: uppercase;
}
.NotPopularGame > div > a > div > h5 {
    font-size: 30px;
    color: black;
    padding-top: 32px;
    padding-left: 30px;
    font-family: "Mistral";
    text-transform: uppercase;
}
.NotPopularGame > div > a {
    text-decoration: none;
}
.NotPopularGame > div > a > div {
    line-height: 30px;
}

/* Android ігри */
.AndroidGames {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.AndroidGames > div {
    width: 60%;
    height: 200px;
    background: #ffffff;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 20px;
    border-radius: 10px;
}
.AndroidGames > div:nth-child(2), .AndroidGames > div:nth-child(4) {
    margin-left: 10px;
    margin-right: auto;
}

/* Ігри для браузера */
.PCgames {
    display: grid;
    grid-template-columns: 1fr;
}
.PCgames > .row1, .PCgames > .row3 {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.PCgames > .row2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.PCgames > div > div {
    background: #ffffff;
    width: 90%;
    height: 200px;
    border-radius: 10px;
}
.PCgames > div > div:nth-child(1) {
    margin-left: 7%;
    margin-right: 3%;
}
.PCgames > div > div:nth-child(2) {
    margin-left: 3%;
    margin-right: 7%;
}
.PCgames > .row1, .PCgames > .row2, .PCgames > .row3 {
    margin-top: 10px;
}

/* Footer */
footer {
    background: rgba(37, 37, 37, 0.589);
}
footer > p {
    font-size: 25px;
    color: white;
    font-variant: small-caps;
    text-align: center;
    font-family: "Mistral";
}
footer > div {
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

/* Click Block */
.click {
    width: 100%;
    height: 100%;
}










/* Адаптивність */
@media screen and (max-width: 1200px) {

    header > div:nth-child(2) {
        margin: auto 40px;
    }
    .NotPopularGame > div {
        width: 90%;
    }
    .AndroidGames > div {
        width: 70%;
    }

}

@media screen and (max-width: 992px) {
    header > div:nth-child(1) {
        margin-left: 20px;
    }
    .NotPopularGame > div > a > div > p {
        line-height: 25px;
    }
    .AndroidGames > div {
        width: 80%;
    }
    .newsGames__Left_div > p {
        font-size: 17px;
    }
}

@media screen and (max-width: 768px) {
    .newsGames {
        grid-template-columns: 1fr;
    }
    .newsGames__Left_block {
        margin-left: auto;
        margin-right: auto;
    }
    .newsGames__Left_div {
        margin-left: auto;
        margin-right: auto;
    }
    .newsGames__Right_block {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    .NotPopularGame > div > a > div {
        display: none;
    }
    .NotPopularGame > div {
        width: 350px;
    }
    .NotPopularGame > div > div > a > img {
        padding-left: 0;
        border-radius: 10px;
    }
}

@media screen and (max-width: 576px) {
    header > div:nth-child(2) {
        margin: auto 34px;
    }
    .newsGames__Right_block {
        height: 150px;
    }
}

@media screen and (max-width: 480px) {
    header > div:nth-child(2) {
        margin: auto 20px;
    }
    header > div > h2 {
        font-size: 15px;
    }
    header > div:nth-child(1) {
        margin-left: 5px;
    }
    .oldGames {
        grid-template-columns: 1fr 1fr;
    }
    .NotPopularGame > div > div > a > img {
        width: 250px;
        padding-left: 0;
        border-radius: 10px;
    }
    .NotPopularGame > div {
        width: 250px;
    }
    .AndroidGames {
        grid-template-columns: 1fr;
    }
    .AndroidGames > div {
        margin-left: auto;
        margin-right: auto;
    }
    .AndroidGames > div:nth-child(2), .AndroidGames > div:nth-child(4) {
        margin-left: auto;
        margin-right: auto;
    }
    .PCgames > .row1, .PCgames > .row2, .PCgames > .row3 {
        grid-template-columns: 1fr;
    }
    .PCgames > .row1 > div:nth-child(2), .PCgames > .row2 > div:nth-child(2), .PCgames > .row3 > div:nth-child(2) {
        margin-top: 10px;
    }
    .PCgames > div > div:nth-child(1) {
        margin-left: auto;
        margin-right: auto;
    }
    .PCgames > div > div:nth-child(2) {
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (max-width: 320px) {
    .NotPopularGame > div > div > a > img {
        width: 200px;
    }
    .NotPopularGame > div {
        width: 200px;
    }
    .newsGames__Left_block {
        margin-top: 24px;
    }
}


