<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header class="site-header sticky-top py-1 alert alert-info">
        <nav class="container d-flex flex-column flex-md-row justify-content-between">
          <a class="py-2 d-none d-md-inline-block" href="{% url 'main:home' %}">Home</a>
          <a class="py-2 d-none d-md-inline-block" href="{% url 'main:edit' %}">Create/redact/delete</a>
        </nav>
    </header>
    <div class="container">
        {% block content %}
        
        {% endblock %}
    </div>
</body>
</html>