{% extends 'base.html' %}

{% block title %}To do app{% endblock %}

{% block content %}
    <h1 class='h3'>To do app</h1>
    <br>
    <div class='container'>
        <div class='container'>
            <div class='container'>
                <form method="POST">
                    <input type="text" name='text' placeholder="Task" class='form-control' required>
                    <br>
                    <input type="submit" value='Save new task' class='btn btn-info'>
                </form>
            </div>
        </div>
        <br>
        {% for article in articles %}
            <div>
                <p>{{ article.text }}</p>
                <p> {{ article.date }}</p>
                <p><a href="/delete/{{ article.id }}">Delete</a></p>
            </div>
            <br>
        {% endfor %}
    </div>
{% endblock %}