* {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
}

.main__content {
    width: 40vw;
    margin-left: 7vw;
}

.main__content__h1 {
    margin-top: 23vh;
    font-size: 4em;
    color: blue;
}

.main__content__h3 {
    margin-top: 0.5vh;
    color: rgb(232, 232, 0);
}

.main__content__p {
    margin-top: 7vh;
}

.main__bg {
    width: 42vw;
    height: 100vh;
    background-image: url("https://img1.goodfon.com/wallpaper/nbig/4/ef/ukraina-flag-nebo-flag.jpg");
    background-size: cover;
}

.main__buttons {
    margin-left: 10vw;
    width: 17vw;
}

.main__button {
    background-color: #e1ecf4;
    border-radius: 2px;
    border: 1px solid #7aa7c7;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #3c94d3;
    cursor: pointer;
    display: inline-block;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.1;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    margin-top: 2vh;
    width: 17vw;
}

.main__button:hover {
    color: #1372b6;
}

.main__login {
    margin-top: 0.5vh;
    text-align: center;
}

.main__login > a {
    text-decoration: none;
    color: #3c94d3;
}

.main__login > a:hover {
    color:#1372b6;
}

.reg {
    display: flex;
}

.reg__form {
    width: 45vw;
}

.reg__form > div {
    width: 80%;
    margin-left: 27%;
    margin-top: 19vh;
}

.reg__form > div > form {
    margin-top: 3vh;
}

.reg__form > div > form > input {
    width: 21vw;
    border-color: rgb(70, 70, 70);
}

.reg__bg {
    width: 55vw;
    height: 100vh;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/010/232/246/original/rising-aerial-view-of-capital-city-kyiv-ukraine-on-blue-sunny-day-video.jpg");
    background-size: cover;
}

.reg__submit {
    background-color: #e1ecf4;
    border-radius: 2px;
    border: 1px solid #7aa7c7 !important;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #3c94d3;
    cursor: pointer;
    display: inline-block;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.1;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    width: 17vw;
}

.reg__form > div > form > input::placeholder {
    color: rgb(90, 90, 90);
    opacity: 1;
}

.login__bg {
    width: 55vw;
    height: 100vh;
    background-image: url("https://img1.goodfon.com/wallpaper/nbig/e/69/kiev-ukraina-ploschad-7187.jpg");
    background-size: cover;
}

nav {
    /* height: 30; */
    background: rgb(235, 235, 235);
}

.nav__logo {
    text-shadow: 0.5px 0.5px black;
}

.nav__logo > span:nth-child(1) {
    color: blue;
}

.nav__logo > span:nth-child(2) {
    color: rgb(232, 232, 0);
}

.flex {
    display: flex;
}

.grid_main {
    display: grid;
    grid-template-columns: 12% 63% 25%;
}

.main_content {
    margin-top: 10vh;
}

.main_content__tags {
    background: rgb(235, 235, 235);
    border-radius: 7px;
}

.main_content__question {
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 98%;
    margin-left: 1%;
}

.main_content__link {
    text-decoration: none;
}

.main_content__header {
    margin-top: 0.5vh;
    margin-left: 0.5vw;
}

.main_content__tags__list {
    margin-top: 0.5vh;
    margin-left: 0.5vw;
}

.main_content__tags__list > p {
    margin: 0.5vh;
}

.main_content__ask {
    margin-left: 1vw;
}

.main_content__ask > a {
    width: 11em;
}

.main_content__hr {
    width: 95%;
    margin-left: 2.5%;
}

.ask {
    margin-top: 17vh;
}

.ask > h3 {
    margin-bottom: 2vh;
}

textarea {
    height: 35vh;
}

.ask__form > input[type=submit] {
    background-color: #e1ecf4;
    border-radius: 2px;
    border: 1px solid #7aa7c7 !important;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #3c94d3;
    cursor: pointer;
    display: inline-block;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.1;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    width: 13vw;   
}

.question {
    margin-top: 11vh;
    display: grid;
    grid-template-columns: 75% 25%;
}

.question__data {
    margin-top: 1vh;
}

.question__data > pre > span {
    color: gray;
}

.question__other {
    margin-left: 3vw;
    background: rgb(235, 235, 235);
    border-radius: 7px;
}

.question__other > div {
    margin-left: 1vw;
    margin-top: 1vh;
}

.question__answers {
    margin-top: 5vh;
}

.question__answers > form > input[type=submit] {
    background-color: #e1ecf4;
    border-radius: 2px;
    border: 1px solid #7aa7c7 !important;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #3c94d3;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.1;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    width: 13vw;
    margin-bottom: 3vh;
}

.question__answers > form > textarea {
    height: 7em;
}

.question__answer__footer {
    margin-top: 5vh;
}

footer {
    background: rgb(235, 235, 235);
    height: 12vh;
}

footer > p:nth-child(1) {
    padding-top: 1vh;
}

footer > p {
    margin: 0;
    text-align: center;
    color: black;
}

.valid {
    border-color: green !important;
}

.invalid {
    border-color: red !important;
}

.profile {
    margin-top: 11vh;
    margin-bottom: 3vh;
}

.profile_grid {
    display: grid;
    grid-template-columns: 30% 70%;
}

.avatar {
    width: 7em;
    height: 7em;
    border-radius: 1em;
    background-image: url("../../static/imgs/user.webp");
    background-position: center;
    background-size: cover;
}

.avatar:hover {
    cursor: pointer;
}

.profile__blog_grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.profile__blog_grid > div {
    width: 98% !important;
}

.green {
    color: green;
}

.btn_pagination {
    text-align: center;
}

.btn-activate {
    background: #4d5154;
    color: white;
}

.btn-activate:hover {
    background: #6c6f71;
    color: white;
}

.btn-click {
    border-color: gray;
    color: rgb(70, 70, 70);
}

.btn-click:hover {
    background: #6c6f71;
    border-color: #6c6f71;
    color: white;
}

.tag_questions {
    margin-top: 11vh;
}

.user__info {
    margin-left: 1vw;
}

.avatar_uploader {
    display: none;
    width:100%;
    height: 2000px;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    z-index: 3;
}

.avatar_uploader > div {
    margin:40px auto 0px auto;
    width:30vw;
    height: auto;
    margin-top: 30vh;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}

.close_uploader {
    padding-right: 1em;
    font-size: 1.7em;
    text-align: right;
    background: white;
    margin-bottom: 0;
}

.close_uploader:hover {
    cursor: pointer;
}

.file-upload {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 1em;
}
  
.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #3c94d3;
    position: relative;
}

.image-dropping, .image-upload-wrap:hover {
    background-color: #bbe3ff;
    border: 4px dashed #ffffff;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #3c94d3;
    padding: 60px 0;
}

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.upload-image-btn {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #22b800;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid rgb(13, 156, 0);
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.upload-image-btn:hover {
    background: #28d700;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.upload-image-btn:active {
    border: 0;
    transition: all .2s ease;
}

.remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}

.all_answers {
    margin-top: 7vh;
}

.avatar_little {
    width: 1.5em;
    height: 1.5em;
    border-radius: 10%;
    background-image: url("../../static/imgs/user.webp");
    background-position: center;
    background-size: cover;
}

.avatar_little:hover {
    cursor: pointer;
}
