{% extends 'base.html.twig' %}

{% block title %}Support{% endblock %}

{% block body %}
    <div class='container'>
        {% for i in range(0,7) %}
        <br>
        {% endfor %}
        <h2 class='text-success text-center'>Money transfer completed successfully</h2>
        <p class='text-success h3 text-center'>Transferred {{ bonus.money }}$</p>
        <br>
        <div class="col text-center">
            <a href='{{ path('campaign', {'id': campaign.id })}}' class="btn btn-primary">Back to the previous page</a>
        </div>
    </div>
{% endblock %}
